@font-face {
    font-family: 'adrip1';
    src: url(./font/adrip1.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'adrip1';
    background-color:#2e3a1a;
    font-size: 1.6rem;
}
div {
    position:absolute;
    z-index:5;
    top:0;
    left:50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    background-color:black;
    color:white;
    width:600px;
    padding:1rem;
    text-align: center;
    border-radius: 0 0 8rem 6px ;
}

#canvas1 {
    position:absolute;
    
    
    font: 'adrip1';
    background-color: #ffffff;
}
